
@mixin pPosition {
    
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: #1A4E8D;
        p {
            font-family: Montserrat;
        }
    
}
@mixin pStyle {
    .mainP {
        font-weight: 600;
        color: #1A4E8D;
        font-size: 18px;
        font-family: Montserrat;
        margin-bottom: 6px;
        
    }
}
footer {
    display: flex;
    align-items: center;
    gap: 260px;
    margin-top: auto;
    background-color: #FFFFFF;
    height: 18vh;
    
    .firstFooter {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 80px;
        margin-bottom: 85px;

        .firstSvg {  
            width: 30px;
            
        }
        .svgText {
            font-family: Montserrat;
            color: #1A4E8D;
            font-size: 23px;
            margin-top: 18px;
            font-weight: 500;
        }
    }
        .addressFooter {
            @include pStyle();
            @include pPosition();
            
        }
        .contactFooter {
            @include pStyle();
            @include pPosition();
        }
    
        .socialsFooter {
            @include pStyle();
            ul {
                margin-top: 10px;
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding-left: 0 !important;

                li {
                    a {
                        text-decoration: none;
                        color: #1A4E8D;
                        font-family: Montserrat;
                    }
                }
            }
        }
}

@media screen and (max-width: 576px) {
    footer {
        flex-direction: column;
        align-items: baseline;
        gap: 25px;
        margin-left: 25px;
        height: 0;
        
        
        .firstFooter {
            padding-top: 27px;
            margin-left: 0;
            margin-bottom: 0;
        }
        .socialsFooter {
            padding-bottom: 15px;
        }
    }
    
}


